<?php
define('VERSION', '1.3');

$config = [
    'post_count' => 1,

    // wykop.pl api
    'wykop' => [
        'appkey' => '----------',
        'secret' => '----------',
        'accountkey' => '---------------',
        'login' => 'furbot'
    ],

    // saucenao.com apikey for source lookup
    'saucenao' => [
        'apikey' => '----------------------------------',
        'accept_threshold' => 80
    ],

    // For the Wykop notifications
    'pushbullet' => [
        'apikey' => '----------------------------------,'
    ],

    'e621' => [
        'login' => '----------',
        'password_hash' => '----------------------------------',
        'blacklist' => [ // Do not post
            // Tags
            'cub', 'animal_humanoid', 'not_furry', 'human', 'transformation',
            'cannot_unsee', 'death', 'decapitation', 'feces', 'entrails', 'fart', 'vore', 'inflation',
            'gore', 'guts', 'hard_vore', 'hyper_anus', 'impalement', 'living_aircraft', 'midna', 'mutilation',
            'necrophilia', 'skullfuck', 'snuff', 'suicide', 'teats', 'turtle', 'udders', 'foot_fetish', 'humanoid_feet',
            'urine', 'hyper', 'huge_breasts', 'huge_penis', 'hyper_breasts', 'hyper_penis', 'profanity',
            'animated', 'watersports', 'bdsm', 'abdl', 'diaper', 'wetting', 'age_regression',
            'diaper_change', 'messy_diaper', 'pull-ups_(diaper)', 'wet_diaper', 'soiling', 'soiling_diaper', 'infantilism',
            'ab/dl', 'babyfur', 'babyfurs', 'loli', 'shota', 'baby', 'toddler', 'child', 'underage', 'pedophillia',
            'preteen', 'corruption', 'degradation', 'humiliation', 'insult', 'nightmare_fuel', 'barely_visible_genitalia',
            'barely_visible_balls', 'barely_visible_pussy', 'barely_visible_penis', 'musk', 'smelly_feet', 'smelly', 'sniffing',
            'scat', 'bestiality', 'armpit_sniffing', 'ball_sniffing', 'butt_sniffing', 'crotch_sniffing', 'foot_sniffing',
            'shoe_sniffing', 'sock_sniffing', 'underwear_sniffing', 'huge_butt', 'hyper_butt', 'grope',
            'food_creature', 'animate_inanimate', 'comic', 'overweight', 'pregnant',

            'anus', 'pussy', 'penis', 'balls',

            // Copyright
            'sonic_(series)', 'sonic_the_hedgehog_(series)', 'pokémon', 'alien_(franchise)', 'dragon_ball', 'dust:_an_elysian_tail', 'five_nights_at_freddy\'s',
            'five_nights_at_freddy\'s_2', 'mario_bros', 'my_little_pony', 'the_amazing_world_of_gumball',
            'the_cat_in_the_hat', 'the_simpsons', 'tiny_toon_adventures', 'touhou', 'toyomaru', 'undertale',
            'animal_crossing', 'cartoon_network',

            // Artists
            'da_hootch', 'slugbox', 'dragon\'s_crown', 'jun_fujita', 'kawaoneechan', 'kuroma', 'markie', 'modeseven',
            'safurantora', 'vimhomeless', 'whitekitten', 'zooerastia', 'sanfingulipunrapin', 'ichthy0stega', 'anti_dev',
            'sssonic2', 'zaush', 'raichiyo33', 'flo', 'v-tal', 'sxfpantera',

            // Characters
            'loona_(vivzmind)',
        ]
    ],

    // Remove artist tags
    'remove_artist' => [
        'conditional_dnp', 'unknown_artist', 'anonymous_artist', 
        'collaboration', 'sound_warning', 'avoid_posting'
    ],

    // When to leave old posts alone?
    'recheck_posts_for_x_days' => 7
];
